.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}
nav {
  display: flex;
  align-items: flex-center;
  justify-content: end;
}
a {
  color: white;
}
.nav > li > a:hover,
.nav > li > a:focus {
color: #076b39;
background-color: white;
border-radius: 10%;
}
app-header > nav {
  height: 100%;
}
.navbar {
display: flex;
align-content: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-content: center;
}

.navigation .flex {
align-content: center;
}
