<div class="col-xs-6 title">
  Portail de l'automobile
</div>


<div class="col-xs-6 navigation">

  <ul *ngIf="getIsAuth() === true" class="nav navbar-nav flex">
    <li>Bienvenue {{ getUsername() }} !</li>
    <li>
      <a (click)="toWelcomePage()">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="active" *ngIf="getIsEditable() == true
    && ( controleDroitUser('Modification') === true
         || controleDroitUser('Création') === true
         || controleDroitUser('Suppression') === true)">
      <a *ngIf="indicateursEdition.isModeEdition != true" (click)="activerModeEdition()">
        <i class="fas fa-edit"></i>
      </a>
      <a *ngIf="indicateursEdition.isModeEdition === true" (click)="desactiverModeEdition()">
        <i class="far fa-edit"></i>
      </a>
    </li>
    <li class="active" *ngIf="controleDroitUser('Administration') === true">
      <a (click)="onAdmin()">
        <i class="fas fa-cogs"></i>
      </a>
    </li>
    <li class="active">
      <a (click)="onSignOut()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
  </ul>
</div>
