<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <div class="p-mr-2">
        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-m-2"
          (click)="openNew()"></button>
      </div>
      <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-m-2"
        (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
    </ng-template>

    <ng-template pTemplate="right">

      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search...">
        </span>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="users$ | async" [rows]="5" [paginator]="true"
    [globalFilterFields]="['uid','nom','prenom','uoAffectation','siteExercice', 'fonction']"
    [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Utilisateurs {first} à {last} sur {totalRecords} " [showCurrentPageReport]="true">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="uid">UID <p-sortIcon field="uid"></p-sortIcon>
        </th>
        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon>
        </th>
        <th pSortableColumn="prenom">Prénom <p-sortIcon field="prenom"></p-sortIcon>
        </th>
        <th>UO Affectation</th>
        <th>Site d'Exercice</th>
        <th>Fonction</th>
        <th>Profil</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{user.uid}}</td>
        <td>{{user.nom}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.uoAffectation}}</td>
        <td>{{user.siteExercice}}</td>
        <td>{{user.fonction}}</td>
        <td>{{user.profil.nom}}</td>

        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editUser(user)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteUser(user)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '50%'}" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="header">
    <h1 class="p-text-center" *ngIf="!user.id">Créer un nouvel utilisateur:</h1>
    <h1 class="p-text-center" *ngIf="user.id">Modifier utilisateur:</h1>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngIf="!user.id" class="p-field">
      <form (ngSubmit)="searchCollaborateurFromRefo()" [formGroup]="searchInRefoForm">
        <input type="text" formControlName="uid">
        <button type="submit">Rechercher Collaborateur</button>
      </form>
    </div>
    <form [formGroup]="userForm">
      <input type="hidden"  id="id" formControlName="id"/>
      <div class="form-group">
        <label for="uid">UID : </label>
        <input type="text" pInputText id="uid" formControlName="uid" required />
        <small class="p-invalid" *ngIf="submitted && !user.nom">UID requis.</small>
      </div>
      <div class="form-group">
        <label for="nom">Nom : </label>
        <input type="text" pInputText id="nom" formControlName="nom" required />
        <small class="p-invalid" *ngIf="submitted && !user.nom">Nom requis.</small>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom : </label>
        <input type="text" pInputText id="prenom" formControlName="prenom" required />
        <small class="p-invalid" *ngIf="submitted && !user.prenom">Prénom requis.</small>
      </div>
      <div class="form-group">
        <label for="uoAffectation">UO Affectation : </label>
        <input type="text" pInputText id="uoAffectation" formControlName="uoAffectation" required />
        <small class="p-invalid" *ngIf="submitted && !user.uoAffectation">UO Affectation requise.</small>
      </div>
      <div class="form-group">
        <label for="siteExercice">Site d'exercice : </label>
        <input type="text" pInputText id="siteExercice" formControlName="siteExercice" required />
        <small class="p-invalid" *ngIf="submitted && !user.uoAffectation">Site d'exercie requis.</small>
      </div>
      <div class="form-group">
        <label for="fonction">Fonction : </label>
        <input type="text" pInputText id="fonction" formControlName="fonction" required />
        <small class="p-invalid" *ngIf="submitted && !user.uoAffectation">Site d'exercie requis.</small>
      </div>
      <div class="form-group">
        <label for="fonction">Profil : </label>
        <select class="form-control" formControlName="profil">
          <ng-container *ngFor="let profil of profils$ | async">
            <option [selected]="user.profil ? profil.id == user.profil.id : profil.nom == 'Utilisateur'" [ngValue]="profil">{{ profil.nom }}</option>
          </ng-container>
        </select>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
