<div id="bloc_modification_parametrage">
  <div class="bloc_modification_parametrage_choix">
    <p>Quel type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouvel utilisateur<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('updateProfil')"/>Modifier le profil d'un utilisateur<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('updatePassword')"/>Modifier le mot de passe d'un utilisateur<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un utilisateur existant<br /><br />
  </div>

  <!-- formulaire pour les créations d'utilisateur -->
  <div class="bloc_modification_parametrage_form"
       *ngIf="typeModification === 'create'">

    <form (ngSubmit)="createUtilisateur(f)" #f="ngForm">
      <p>
        <em>Sélectionnez le collaborateur à créer : </em>
        <select id="collaborateur_select" name="collaborateur"
                (ngModelChange)="setCollaborateur($event)" ngModel required>
          <ng-container *ngFor="let collaborateur of allCollaborateurs">
            <option [ngValue]="collaborateur">{{ collaborateur.uid}} - {{ collaborateur.nom }}</option>
          </ng-container>
        </select>
      </p>

      <p *ngIf="indicateurCollaborateur === true">
        UID : {{ collaborateur.uid }} <br />
        nom : {{ collaborateur.nom }} <br />
        prénom : {{ collaborateur.prenom }} <br />
        UO d'affectation : {{ collaborateur.uoAffectation }} <br /><br />

        <em>Complétez les champs obligatoires : </em><br />
        <label for="password">mot de passe : </label>
        <input type="text" id="password" name="password" ngModel required><br /><br />
        <em>Sélectionnez le profil de l'utilisateur : </em>
        <select id="profil_select" name="profil" ngModel required>
          <ng-container *ngFor="let profil of allProfils">
            <option [ngValue]="profil">{{ profil.nom }}</option>
          </ng-container>
        </select>
        <br /><br />

        <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Créer utilisateur</button>
      </p>
    </form>

  </div>

  <!-- formulaire pour les modifications de profil d'un utilisateur -->
  <div class="bloc_modification_parametrage_form"
       *ngIf="typeModification === 'updateProfil'">
    <form (ngSubmit)="updateUtilisateurProfil(f)" #f="ngForm">
      <p>
        <em>Sélectionnez l'utilisateur à modifier : </em>
        <select id="utilisateur_update" name="utilisateur"
                (ngModelChange)="setUtilisateur($event)" ngModel required>
          <ng-container *ngFor="let utilisateur of allUtilisateurs">
            <option [ngValue]="utilisateur">{{ utilisateur.uid }} - {{ utilisateur.nom}}</option>
          </ng-container>
        </select>
      </p>
      <p *ngIf="indicateurUtilisateur === true">
        UID : {{ utilisateur.uid }} <br />
        nom : {{ utilisateur.nom }} <br />
        prénom : {{ utilisateur.prenom }} <br />
        UO d'affectation : {{ utilisateur.uoAffectation }} <br />
        profil actuel : {{ utilisateur.profil.nom }} <br /><br />

        <em>Sélectionnez le nouveau profil de l'utilisateur : </em>
        <select id="profil_update" name="profil" ngModel required>
          <ng-container *ngFor="let profil of allProfils">
            <option [ngValue]="profil">{{ profil.nom }}</option>
          </ng-container>
        </select>
      </p>

      <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Modifier le profil</button>
    </form>

  </div>

  <!-- formulaire pour les modifications de mot de passe d'un utilisateur -->
  <div class="bloc_modification_parametrage_form"
       *ngIf="typeModification === 'updatePassword'">
    <form (ngSubmit)="updateUtilisateurPassword(f)" #f="ngForm">
      <p>
        <em>Sélectionnez l'utilisateur à modifier : </em>
        <select id="utilisateur_password" name="utilisateur"
                (ngModelChange)="setUtilisateur($event)" ngModel required>
          <ng-container *ngFor="let utilisateur of allUtilisateurs">
            <option [ngValue]="utilisateur">{{ utilisateur.uid }} - {{ utilisateur.nom}}</option>
          </ng-container>
        </select>
      </p>
      <p *ngIf="indicateurUtilisateur === true">
        UID : {{ utilisateur.uid }} <br />
        nom : {{ utilisateur.nom }} <br />
        prénom : {{ utilisateur.prenom }} <br />
        UO d'affectation : {{ utilisateur.uoAffectation }} <br /><br />
        <label for="password_update">nouveau mot de passe : </label>
        <input type="text" id="password_update" name="password" ngModel required><br /><br />
      </p>
      <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Modifier le mot de passe</button>
    </form>

  </div>


  <!-- formulaire pour les suppressions de profil -->
  <div class="bloc_modification_parametrage_form"
       *ngIf="typeModification === 'delete'">
    <form (ngSubmit)="deleteUtilisateur(f)" #f="ngForm">
      <p>
        <em>Sélectionnez l'utilisateur à supprimer : </em>
        <select id="utilisateur_delete" name="utilisateur" ngModel required>
          <ng-container *ngFor="let utilisateur of allUtilisateurs">
            <option [ngValue]="utilisateur">{{ utilisateur.uid }} - {{ utilisateur.nom}}</option>
          </ng-container>
        </select>
      </p>
      <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Supprimer utilisateur</button>
    </form>
  </div>

</div>
