
<!-- <article id="bloc_principal" *ngIf="getIsAuth() === false">
  <div id="bloc_form_connexion">
    <h1>Bienvenue sur le portail de l'automobile</h1>
    <fieldset>
      <legend>Veuillez saisir vos informations pour vous connecter</legend>
      <form (ngSubmit)="onSignInForm(f)" #f="ngForm">
        <p>
          <label for="username">Login (uid) : </label><br />
          <input type="text" name="username" id="username" ngModel required>
          <br />
          <label for="password">Mot de passe : </label><br />
          <input type="password" name="password" id="password" ngModel required>
          <br /><br />
        </p>
        <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Se connecter</button>
      </form>
    </fieldset>
  </div>
</article> -->

<div class="container">
  <div class="col-sm-3 align-self-center">
    <h2>Connexion</h2>
    <form  [formGroup]="signInForm"  (ngSubmit)="onSignIn()" method="POST">
      <div class="form-group">
        <label for="uid">UID</label>
        <input type="text" id="uid" class="form-control" formControlName="uid" required>
      </div>
      <div class="form-group">
        <label for="motDePasse">Mot de Passe</label>
        <input type="password" id="motDePasse" class="form-control" formControlName="motDePasse" required>
      </div>
      <div class="btnsubmit">
        <button class="btn" type="submit" >Se connecter</button>
      </div>
    </form>
    <p class="text-danger"></p>
  </div>
</div>
