<!-- Formulaires pour les thématiques -->

<div class="bloc_module_edition_choix" *ngIf="indicateursEdition.typeObjet==='thematique'">
  <ng-container *ngIf="indicateursEdition.niveauThematique === 1">
    <p>Quel type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouveau thème<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un thème existant<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un thème existant<br />
    <input type="radio" value="upload" name="type_modification"
           (change)="setTypeModification('upload')"/>Ajouter ou modifier l'image de fond d'un thème<br />
  </ng-container>
  <ng-container *ngIf="indicateursEdition.niveauThematique === 2">
    <p>Quel type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouveau sous-thème<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un sous-thème existant<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un sous-thème existant<br />
  </ng-container>
  <ng-container *ngIf="indicateursEdition.niveauThematique === 3">
    <p>Quel type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouveau sous sous-thème<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un sous-thème existant<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un sous sous-thème existant<br />
  </ng-container>
  <ng-container *ngIf="indicateursEdition.niveauThematique === 4">
    <p>Quel type de modification souhaitez-vous ?</p>
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un sous sous-thème existant<br />
  </ng-container>
</div>

<!-- création thématique -->
<div *ngIf="indicateursEdition.typeModification == 'create'
            && indicateursEdition.typeObjet==='thematique'"
     class="bloc_module_edition_saisie">
  <form (ngSubmit)="createThematique(f)" #f="ngForm">

    <p *ngIf="indicateursEdition.niveauThematique === 2">
      <label for="theme">nom de la thematique parente : </label>
      <select id="theme" name="theme" ngModel required>
        <ng-container *ngFor="let theme of themes">
          <option [ngValue]="theme.id">{{ theme.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>

    <p *ngIf="indicateursEdition.niveauThematique === 3">
      <label for="sous_theme">nom de la thematique parente : </label>
      <select id="sous_theme" name="sous_theme" ngModel required>
        <ng-container *ngFor="let themeNiveau2 of themesNiveau2">
          <option [ngValue]="themeNiveau2.id">{{ themeNiveau2.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>

    <p *ngIf="indicateursEdition.niveauThematique === 1
              || indicateursEdition.niveauThematique === 2
              || indicateursEdition.niveauThematique === 3">
      <label for="nom">nom court : </label>
      <input type="text" id="nom" name="nom" ngModel required><br /><br />
      <label for="description"> description : </label>
      <input type="text" id="description" name="description" ngModel required>
    </p>

    <button class="bouton_bleu" type="submit" [disabled]="f.invalid"
            *ngIf="indicateursEdition.niveauThematique === 1
              || indicateursEdition.niveauThematique === 2
              || indicateursEdition.niveauThematique === 3">Créer thématique</button>
  </form>
</div>

<!-- modifier une thématique -->
<div *ngIf="indicateursEdition.typeModification == 'update'
            && indicateursEdition.typeObjet==='thematique'"
     class="bloc_module_edition_saisie">
  <form (ngSubmit)="updateThematique(f)" #f="ngForm">
    <p>Quelle thématique souhaitez-vous modifier ?</p>
    <p *ngIf="indicateursEdition.niveauThematique === 1">
      <label for="thematiqueUpdate1">nom du thème à modifier: </label>
      <select id="thematiqueUpdate1" name="thematiqueUpdate"
              (ngModelChange)="setUpdateThematique($event)"
              ngModel required>
        <ng-container *ngFor="let theme of themes">
          <option [ngValue]="theme">{{ theme.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>
    <p *ngIf="indicateursEdition.niveauThematique === 2 || indicateursEdition.niveauThematique === 3">
      <label for="thematiqueUpdate2">nom du sous-thème à modifier: </label>
      <select id="thematiqueUpdate2" name="thematiqueUpdate"
              (ngModelChange)="setUpdateThematique($event)"
              ngModel required>
        <ng-container *ngFor="let themeNiveau2 of themesNiveau2">
          <option [ngValue]="themeNiveau2">{{ themeNiveau2.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>
    <p *ngIf="indicateursEdition.niveauThematique === 4">
      <label for="thematiqueUpdate4">nom du sous sous-thème à modifier: </label>
      <select id="thematiqueUpdate4" name="thematiqueUpdate"
              (ngModelChange)="setUpdateThematique($event)"
              ngModel required>
        <ng-container *ngFor="let themeNiveau3 of themesNiveau3">
          <option [ngValue]="themeNiveau3">{{ themeNiveau3.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>
    <p *ngIf="indicateursEdition.indicateurUpdate === true
              && indicateursEdition.niveauThematique != 1">
      <span *ngIf="(thematiqueUpdate.niveau === 2 || thematiqueUpdate.niveau === 3)
                  && indicateursEdition.indicateurModifierThemeParent != true">
          nom du thème parent : {{ thematiqueUpdateN1.nom }}<br /><br /></span>
      <span *ngIf="(thematiqueUpdate.niveau === 2 || thematiqueUpdate.niveau === 3)
                    && indicateursEdition.indicateurModifierThemeParent === true">
        <label for="theme_parent">nom du thème parent: </label>
        <select
                id="theme_parent" name="theme_parent"
                (ngModelChange)="setThematiqueNiveau1($event)" ngModel>
          <ng-container *ngFor="let thematique of allThematiques">
            <option [ngValue]="thematique.id"
                    *ngIf="thematique.niveau === 1">{{ thematique.nom}}</option>
          </ng-container>
        </select><br /><br />
      </span>

      <span *ngIf="thematiqueUpdate.niveau === 3 && indicateursEdition.indicateurModifierThemeParent != true">
          nom du sous-thème parent : {{ thematiqueUpdateN2.nom }}<br /><br /></span>
      <span *ngIf="thematiqueUpdate.niveau === 3 && indicateursEdition.indicateurModifierThemeParent === true">
        <label for="sous_theme_parent">nom du sous-thème : </label>
        <select name="sous_theme_parent" id="sous_theme_parent"
                (ngModelChange)="setThematiqueNiveau2($event)" ngModel>
          <option [ngValue]="thematique.id"
                  *ngFor="let thematique of thematiquesNiveau2">{{ thematique.nom }}</option>
        </select><br /><br />
      </span>

      <span *ngIf="thematiqueUpdate.niveau === 3 && indicateursEdition.indicateurModifierThemeParent != true">
        Souhaitez-vous modifier le thème ou le sous-thème parent ? <em> (le niveau ne peut pas être modifié)</em>
        <button class="bouton_vert" (click)="setModifierThemeParent(true)">oui</button><br /><br />
      </span>
      <span *ngIf="thematiqueUpdate.niveau === 2 && indicateursEdition.indicateurModifierThemeParent != true">
        Souhaitez-vous modifier le thème parent ? <em> (le niveau ne peut pas être modifié)</em>
        <button class="bouton_vert" (click)="setModifierThemeParent(true)">oui</button><br /><br />
      </span>
      <span *ngIf="thematiqueUpdate.niveau === 2 && indicateursEdition.indicateurModifierThemeParent === true">
        <button class="bouton_rouge" (click)="setModifierThemeParent(false)">ne plus modifier le thème parent</button><br /><br />
      </span>
    </p>

    <p *ngIf="indicateursEdition.indicateurUpdate === true">
      <label for="nomUpdate">nom court : </label>
      <input type="text" id="nomUpdate" name="nom"
             ngModel="{{ thematiqueUpdate.nom }}" required><br />
      <label for="descriptionUpdate"> description : </label>
      <input type="text" id="descriptionUpdate" name="description"
             ngModel="{{ thematiqueUpdate.description }}" required>
    </p>
    <button  class="bouton_bleu" type="submit" [disabled]="f.invalid">Modifier thématique</button>
  </form>
</div>

<!-- suppression thématique -->
<div *ngIf="indicateursEdition.typeModification == 'delete'
            && indicateursEdition.typeObjet==='thematique'"
     class="bloc_module_edition_saisie">
  <form (ngSubmit)="deleteThematique(f)" #f="ngForm">
    <p>Quelle thématique souhaitez-vous supprimer ?</p>
    <p *ngIf="indicateursEdition.niveauThematique === 1">
      <label for="thematiqueDeleteN1">nom de la thématique : </label>
      <select id="thematiqueDeleteN1" name="thematiqueDelete" ngModel required>
        <ng-container *ngFor="let theme of themes">
          <option [ngValue]="theme">{{ theme.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>
    <p *ngIf="indicateursEdition.niveauThematique === 2">
      <label for="thematiqueDeleteN2">nom de la thématique : </label>
      <select id="thematiqueDeleteN2" name="thematiqueDelete" ngModel required>
        <ng-container *ngFor="let themeNiveau2 of themesNiveau2">
          <option [ngValue]="themeNiveau2">{{ themeNiveau2.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>

    <p *ngIf="indicateursEdition.niveauThematique === 3">
      <label for="thematiqueDeleteN3">nom de la thématique : </label>
      <select id="thematiqueDeleteN3" name="thematiqueDelete" ngModel required>
        <ng-container *ngFor="let themeNiveau3 of themesNiveau3">
          <option [ngValue]="themeNiveau3">{{ themeNiveau3.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>
    <button class="bouton_bleu" type="submit" [disabled]="f.invalid">Supprimer thématique</button>
  </form>
</div>

<!-- upload de l'image d'un thème -->
<div *ngIf="indicateursEdition.typeModification == 'upload'
            && indicateursEdition.typeObjet==='thematique'"
     class="bloc_module_edition_saisie">
  <form (ngSubmit)="uploadThematique(f)" #f="ngForm">
    <p>Quelle thématique souhaitez-vous modifier ou ajouter l'image de fond ?</p>
    <p *ngIf="indicateursEdition.niveauThematique === 1">
      <label for="thematiqueUpload">nom du thème : </label>
      <select id="thematiqueUpload" name="thematiqueUpload" ngModel required>
        <ng-container *ngFor="let theme of themes">
          <option [ngValue]="theme">{{ theme.nom}}</option>
        </ng-container>
      </select>
      <br />
    </p>

    <p>
      <label for="image">Image thématique :</label>
      <input type="file" name="image" id="image" accept="image/png, image/jpeg"
             (change)="uploadFileChange($event)">
    </p>

    <button  class="bouton_bleu" type="submit" [disabled]="f.invalid">Upload de l'image</button>
  </form>
</div>
