<article id="bloc_module_parametrage">

  <div id="bloc_menu_parametrage">
    <div class="menu_parametrage">
      <h4>Module de paramétrage</h4>
    </div>
    <div class="menu_parametrage">
      <h5>Veuillez choisir l'élément à modifier</h5>
    </div>
    <input class="form-check-input" type="radio" value="utilisateur" name="type_parametrage"
           (change)="setTypeParametrage('utilisateur')"/>Ajouter, modifier, ou supprimer un utilisateur<br />
    <input class="form-check-input" type="radio" value="profil" name="type_parametrage"
           (change)="setTypeParametrage('profil')"/>Ajouter, modifier, ou supprimer un profil<br /><br />
  </div>

  <app-section-parametrage-profil
    *ngIf="typeParametrage === 'profil'">
  </app-section-parametrage-profil>

  <app-section-parametrage-utilisateur
    *ngIf="typeParametrage === 'utilisateur'">
  </app-section-parametrage-utilisateur>
 

</article>
